body {
  background-color: black;
  color: white;
  font-family: monospace;
}

#liveImg {
  border: 1px solid gray;
  image-rendering: pixelated;
}

#liveImg.no-border {
  border: none;
}

.emulatorDetailsTableRow { 
  display: flex;
}

.tableContainer {
  margin-right: 20px;
}

td {
  padding-right: 10px;
}
